<fieldset>

    <h2><legend>{{ title }}</legend></h2>

    <!-- TITLE -->
    <div class='form-group'>
        <label for='title'>Listing Title</label><br>
        <input class='form-control' id='title' type='text' name='title' value='{{ listing.title }}'/>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='description'>Description</label><br>
        <input class='form-control' id='description' type='text' name='description' value='{{ listing.description }}'/>
    </div>

    <br>


</fieldset>
