{% extends 'base.html' %}

{% block body %}

<a href='/hatcheries/my_hatcheries'>Back to Hatcheries</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1><a href="/ranchos/{{ brood.mother_id }}">{{ brood.mother_name }}</a> x <a href="/ranchos/{{ brood.father_id }}">{{ brood.father_name }}</a></h1>
        <p class='text-muted'>Hatched on {{ brood.hatched_at.strftime('%A, %B %d, %Y at %I:%M %p') }}</p>
        <h2>{{ brood.species }}</h2>
    </div>
</div>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
            <!-- MOTHER -->
            <h2>Mother</h2>
            {% with rancho=mother %}
                {% include 'partials/rancho_card.html' %}
            {% endwith %}
    </div>
    <div class='col-sm-6 col-sm-offset-3'>
            <!-- FATHER -->
            <h2>Father</h2>
            {% with rancho=father %}
                {% include 'partials/rancho_card.html' %}
            {% endwith %}
    </div>
</div>

<h2>Hatchlings</h2>
<div class='row'>
        {% for hatchling in hatchlings %}
        <div class='col-sm-4 col-sm-offset-3'>
            {% with rancho=hatchling %}
                {% include 'partials/rancho_card.html' %}
            {% endwith %}
        </div>
        {% endfor %}
</div>

{% endblock %}
