<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Pairing</th>
                <th scope="col">Time Hatched</th>
            </tr>
        </thead>
        <tbody>
            {% for brood in broods %}
                <tr class="table-light">
                    <th scope="row"><a href='/broods/{{ brood._id }}'>{{ brood.mother_name }} x {{ brood.father_name }}</a></th>
                    <td>
                        {{ brood.hatched_at.strftime('%A, %B %d, %Y at %I:%M %p') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>