{% extends 'base.html' %}

{% block body %}
    <div class="alert alert-dismissible alert-secondary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oops!</strong> You don't have access to that function. You may have entered an incorret username or password.
        <a href="/" class="alert-link">Back to home?*</a> <br/>
        <small>*If you submitted an unfinished form, you may be able to recover your information with the back arrow.</small>
    </div>
{% endblock %}
