{% extends 'base.html' %}

{% block body %}
<div class='col'>
    <h1>Welcome to RanchoStop!</h1>
    {% if current_user != None %}
        <a href='/daily_crikits'>Collect your daily Crikits</a>
    {% else %}
        <p>
            <a href='/login'>Log In</a>
             |
            <a href='/users/new'>Sign Up</a>
        </p>
    {% endif %}
    <br><br>
    <h1>What are Ranchos?</h1>
    <p>Ranchos are a modern rebranding of tarantulas.</p>
    <p>RanchoStop lets users adopt, care for, breed, and sell virtual tarantulas ("Ranchos"). Access to forums and profiles will help users connect with other like-minded individuals, all with an environment that divorces the word “Tarantula” from “creepy.”</p>
</div>
{% endblock %}
