{% extends 'base.html' %}

{% block body %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/listings/{{listing._id}}'>
            <input type='hidden' name='_method' value='PUT'/>
            {% include 'partials/listing_form.html' %}

            <!-- LOGIN -->
            <h4>Enter your password to edit:</h4>
            <div class='form-group'>
                <label for='password'>Password</label><br>
                <input class='form-control' id='password' type='text' name='password'/>
            </div>
            <!-- BUTTON -->
            <div class='form-group'>
                <button class='btn btn-primary' type='submit'>Save Listing</button>
                <a href='/listings/{{ listing._id }}'>Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
