{% extends 'base.html' %}

{% block body %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        {% for rancho in ranchos_list %}
            <form method='POST' action='/ranchos/new'>
                <input type='hidden' name='species' value='{{ rancho.species }}'/>
                <input type='hidden' name='sex' value='{{ rancho.sex }}'/>
                <input type='hidden' name='hardiness' value="{{ rancho['stats'].hardiness }}"/>
                <input type='hidden' name='dexterity' value="{{ rancho['stats'].dexterity }}"/>
                <input type='hidden' name='docility' value="{{ rancho['stats'].docility }}"/>
                <input type='hidden' name='conformation' value="{{ rancho['stats'].conformation }}"/>

                {% include 'partials/rancho_card.html' %}
                <!-- BUTTON -->
                <div class='form-group'>
                    <button class='btn btn-primary' type='submit'>Adopt me!</button>
                </div>
            </form>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}
