{% extends 'base.html' %}

{% block body %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/ranchos/{{rancho._id}}'>
            <input type='hidden' name='_method' value='PUT'/>
            <fieldset>

                <h2><legend>{{ title }}</legend></h2>

                <!-- NAME -->
                <div class='form-group'>
                    <label for='title'>Rancho Name</label><br>
                    <input class='form-control' id='rancho_name' type='text' name='rancho_name' value='{{ rancho.name }}'/>
                </div>

                <!-- BIO -->
                <div class='form-group'>
                    <label for='description'>Bio</label><br>
                    <textarea class='form-control'
                        id='description'
                        name='description'
                        rows='10'
                        placeholder="Your Rancho's public bio...">{{ rancho.bio }}</textarea>
                </div>


            </fieldset>            <!-- BUTTON -->
            <div class='form-group'>
                <button class='btn btn-primary' type='submit'>Save Profile</button>
            </div>
        </form>
        <!-- RELEASE -->
        <form method='POST' action='/ranchos/{{ rancho._id }}/release'>
            <button type="submit" class="btn btn-secondary">Release</button>
        </form>
    </div>
</div>
{% endblock %}
