{% extends 'base.html' %}

{% block body %}

<a href='/users/{{ rancho.user_id }}'>Back to {{ rancho.owner }}'s profile</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ rancho.name }}</h1>
        {% if rancho.adopted_at %}
        <p class='text-muted'>Adopted on {{ rancho.adopted_at.strftime('%A, %B %d, %Y at %I:%M %p') }}</p>
        {% endif %}
        <h2>Lvl.{{ rancho.level }} {{ rancho.sex }} {{ rancho.species }}</h2>
        <p>{{ rancho.bio }}</p>
        <p>
            <a href='/ranchos/{{ rancho._id }}/care'>Care for</a>
             |
            <a href='/ranchos/{{ rancho._id }}/edit'>Edit</a>
        </p>
    </div>
</div>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        {% include 'ranchos/needs_table.html' %}
    </div>
    <div class='col-sm-6 col-sm-offset-3'>
        {% include 'ranchos/stat_table.html' %}
    </div>
</div>

{% endblock %}
