{% extends 'base.html' %}

{% block body %}

<a href='/users/directory'>Back to User Directory</a>
<div class='row'>
    <div class='col-sm-12 col-sm-offset-3'>
        <h1>{{ user.username }}</h1>
        {% if user.created_at %}
        <p class='text-muted'>Joined site on {{ user.created_at.strftime('%A, %B %d, %Y at %I:%M %p') }}</p>
        {% endif %}
        <p>¢{{ user.crikits }}</p>
        <p>{{ user.bio }}</p>

        <p>
            <a href='/users/{{ user._id }}/edit'>Edit</a>
        </p>
    </div>
    {% for rancho in ranchos %}
    <div class='col-sm-4 col-sm-offset-3'>
        {% include 'partials/rancho_card.html' %}
    </div>
    {% endfor %}
</div>

{% endblock %}
