{% extends 'base.html' %}

{% block body %}
<h1>Welcome to your Hatchery</h1>
    {% if hatcheries.count() == 0 %}
        {% include 'hatcheries/new_hatchery_form.html' %}
    {% else %}
        {% for hatchery in hatcheries %}
            {% include 'hatcheries/hatchery_container.html' %}
        {% endfor %}
    {% endif %}
    <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
    {% if broods.count() > 0 %}
        <h2>Your past broods:</h2>
        {% include 'broods/broods_table.html' %}
    {% endif %}
    </div></div>
{% endblock %}
